@media screen and (max-width:479px) {
    
   .calculator{
    padding: 15px;
   }

      .calculator form input{
        border:0;
        outline: 0;
        width: 40px;
        height: 40px;
        border: 10px;
        box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),5px 5px 15px rgba(0, 0, 0, 0.2);
        font-size: 15px;
        background: transparent;
        color: #fff;
        cursor: pointer;
        margin: 6px;
        border-radius: 8px;
    
    }
    form input.opt{
        color: #33ffd8;
        background: #d62828;
      }
      form input.equal{
        width: 95px;
        color: #33ffd8;
        background: #d62828;
    }
    form .screen input{
        border:3px solid #5c677d;
    }
      
}